.game-banner {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 30px;

  @media (min-width: 768px) {
    max-width: 560px;
  }

  &__link {
    display: block;
    position: relative;
    cursor: pointer;
  }

  &__link span {
    position: absolute;
    right: 18px;
    bottom: 18px;
    font-size: 8px;
    max-width: 70px;

    @media (min-width: 768px) {
      right: 33px;
      bottom: 27px;
      max-width: 120px;
      font-size: 16px;
      font-weight: normal;
    }
  }
}
